<app-navbar>
</app-navbar>
<div class="container">
    <div class="row">
        <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
            <div class="row g-3">
                <div class="col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
                   <label for="" class="form-label">Course Title</label>
                   <input name ="courseTitle"[(ngModel)] = "courseTitle" type="text" class="form-control">
                </div>
                <div class="col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
                    <label for="" class="form-label">Course Description</label>
                    <input name ="courseDescription"[(ngModel)] = "courseDescription" type="text" class="form-control">
                </div>
                <div class="col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
                    <label form="" class="form-label">Course Date</label>
                    <input name ="courseDate"[(ngModel)] = "courseDate" type="text" class="form-control">
                </div>
                <div class="col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
                     <label for="" class="form-label">Course Duration</label>
                     <input name ="courseDuration"[(ngModel)] = "courseDuration" type="text" class="form-control">
                </div>
                <div class="col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
                    <label for="" class="form-label">Course Venue </label>
                    <input name ="courseVenue"[(ngModel)] = "courseVenue" type="text" class="form-control">
                </div>
                <div class="col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-12">
                    <button (click) ="readValues()" class="btn btn-primary">Submit</button>
                </div>
            </div>
        </div>
    </div>
</div>
